aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #1125de; /* 1 */
    padding: 1rem;
    background-color: #f10b0b;
    color: #333;
    text-align: center;
}


aside img {
    width: 200px;
    height: auto;
}
main {
    max-width: 400px;
}

footer{
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

nav {background-color: rgb(242, 234, 15);

    padding : 10px;
    text-align: center;

}

h1{
background-color:gray;
text-align: left;
}

p{
 padding: 0; 
}