aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #1125de; /* 1 */
    padding: 1rem;
    background-color: #f10b0b;
    color: #333;
    text-align: center;
}


aside img {
    width: 200px;
    height: auto;
}
main {
    max-width: 400px;
    border: 1px solid color(rgb red rgb(0, 15, 128) rgb(207, 121, 9));
    padding:2px;
    box-shadow:0 0 30 px gray;
    
}

footer{
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

nav {background-color: rgb(242, 234, 15);

    padding : 10px;
    text-align: center;

}
nav a{
    anchor-name: "top-nav";
}
h1{
background-color:gray;
text-align: left;
}